body {
    background-color: #277652;
    min-width: 500px;
    max-width: 980px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: solid #06163A 3px;
}

th {
    color: #06163A;
    border: solid #06163A 1px;
    padding: 1px 4px;
}

td {
    border: solid #06163A 1px;
    padding: 1px 4px;
}


.title {
    color: #7787AB;
    text-shadow: 3px 3px 3px #06163A;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.fieldLabel {
    float: left;
    width: 80px;
    text-align: right;
}

.fieldEntry {
    margin-bottom: 5px;
    width: 500px;
    float: left;
}

.submitButton {
    margin-top: 10px;
}

.errorLabel {
    color: red;
    float: right;
}